# vim: ft=zsh
get_brightness() {
  video=$2
  MAX_BRIGHTNESS=9
  [[ -r "$video/max_brightness" ]] && MAX_BRIGHTNESS=$(cat "$video/max_brightness")
  [[ -r "$video/brightness" ]] && CUR_BRIGHTNESS=$(cat "$video/brightness")
  case $1 in
    false)
      BRIGHTNESS=$MAX_BRIGHTNESS
      [[ -n $CUR_BRIGHTNESS && $CUR_BRIGHTNESS -gt $BRIGHTNESS ]] && BRIGHTNESS=$CUR_BRIGHTNESS
    ;;
    true)
      BRIGHTNESS=$(($MAX_BRIGHTNESS/3))
      [[ -n $CUR_BRIGHTNESS && $CUR_BRIGHTNESS -lt $BRIGHTNESS ]] && BRIGHTNESS=$CUR_BRIGHTNESS
    ;;
  esac
}

vars() {
	#only run if disks is not defined
	#to have empty disks just set disks=() in pre_vars
	if [[ -z ${disks+defined} ]]
		find_disks
	fi
	if [[ -z ${netdevs+defined} ]]
		find_netdevs
	fi

  BUSPOWERCONTROL="auto"
  SND_POWERSAVECTRL="Y"

  case $1 in
    false) # disabling power saving
  USB_AUTOSUSPEND="2"
  NMI_WATCHDOG="1"
  CPUGOVERNOR="Ondemand"
  PCIE_ASPM="default"
  LAPTOP_MODE="0"
  #default arch linux settings
  VMDIRTY_RATIO="10" #"20" #30
  VMDIRTY_BACKGROUND="5" #"10" #30
  VMDIRTY_EXPIRE="3000" #600
  VMDIRTY_WRITE="500" #600
  SATA_ALPM="max_performance"
  SND_POWERSAVE="0"
  HDPARM_OPTS=(-S 0 -B 254) #-a 2048
  WLAN_OPTS=(set power_save off)
  XSET_OPTS=("-dpms")
  XSET_DPMS=(0 0 0)
  ;;
    *) # Enable power saving settings on battery
  USB_AUTOSUSPEND="1"
  NMI_WATCHDOG="0"
  CPU_GOVERNOR="Ondemand"
  PCIE_ASPM="default"
  LAPTOP_MODE="5"

  VMDIRTY_RATIO="90"
  VMDIRTY_BACKGROUND="1"
  VMDIRTY_EXPIRE="60000"
  VMDIRTY_WRITE="60000"

  HDPARM_OPTS=(-S 120 -B 128)
  SATA_ALPM="min_power"
  SND_POWERSAVE="1"
  WLAN_OPTS=(set power_save on)
  XSET_OPTS=("+dpms")
  XSET_DPMS=(0 0 120)
  ;;
esac
}

post() {
  case $1 in
    false)
      #I only restore the on status for pci devices...
      for i in /sys/bus/pci/devices/*/power/control; do echo on > $i; done
      iwconfig wlan0 txpower on
      ;;
  esac
}
