[Unit]
Description=System power management: power-saving mode
DefaultDependencies=no
Conflicts=power-performance.target
After=power-performance.target
