[Unit]
Description=Performance mode (global)
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=@LIB_DIR@/powersave false

[Install]
WantedBy=power-performance.target
