[Unit]
Description=Powersave mode (global service)
PartOf=power-save.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStartPre=-/usr/bin/sleep 10
ExecStart=@BIN_DIR@/powersave true

[Install]
WantedBy=power-save.target
