[Unit]
Description=Performance mode (global)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=@BIN_DIR@/powersave false

[Install]
WantedBy=power-performance.target
