[Unit]
Description=Powersave mode (global)

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=@BIN_DIR@/powersave true

[Install]
WantedBy=power-save.target
